<!doctype html>

<html>
<head>
    <meta charset='utf-8'>
</head>
<body>

    <h1>aedTest</h1>
    <h2>/userRenew</h2>
        <form action='/userRenew' method='post'>
            <p><input type='text' name ='userId' placeholder='id'></p>
            <p><input type='text' name='x' placeholedr= 'x'></p>
            <p><input type='text' name='y' placeholedr= 'y'></p>
            <input type='submit' value = "submit">
        </form>


    <h2>/userWarn</h2>
        <form action='/login' method='post'>
            <p><input type='text' name ='username' placeholder='id'></p>
            <p><input type='password' name='password' placeholedr= 'password'></p>
            <input type='submit' value = "submit">
        </form>

</body>
</html>
                                                          
